# Question 4

4. How does the % of pregnant women recieving prenatal care compare to the infant mortality rate?

Pregnant women recieving prenatal care (%): https://data.worldbank.org/indicator/SH.STA.ANVC.ZS?view=chart
Mortality rate, infant (per 1,000 live births): https://data.worldbank.org/indicator/SP.DYN.IMRT.IN?view=chart

### Exctract
Read in the csv files for Pregnant women receiving prenatal care, and Mortality rate, infant (per 1,000 live births)
Skip the first 4 rows using the parameter, skiprows = 4.

Store each csv in separate variables.

### Transform
4. To compare the prenatal care percentages to infant mortality, use all data collected in 2000 across various countries.
    - Remove rows with 'Country Code' = ['WLD', 'LAC', 'LCN', 'NAC', 'TLA', 'CEB', 'ECA', 'ECS', 'EU', 'TEC', 'EAP', 'EAS', 'SAS', 'TEA', 'TSA', 'MEA', 'MNA', 'SSA', 'SSF', 'TMN', 'TSS', 'ZAF', 'AFE', 'AFW', 'CAF']
        - Those are aggregated countries like North America, etc.
    - Filter both prenatal care dataframe and infant mortality dataframe for "Country Name" and "2000".
    - Rename 2000 column in both dataframes to reflect dataset - Prenatal care or Infant Mortality.
    - Remove rows that are empty in the "2000" column - meaning they are missing Prenatal or Mortality data.
    - Inner merge DataFrames on "Country Name".

In [1]:
import pandas as pd

In [2]:
# Exctract

pregnant_w_rec_pre_c = pd.read_csv('data/API_SH.STA.ANVC.ZS_DS2_en_csv_v2_3482303.csv', skiprows=4)
mortality_rate_infant = pd.read_csv('data/API_SP.DYN.IMRT.IN_DS2_en_csv_v2_3469928.csv', skiprows=4)

In [3]:
# Transform

mortality_rate_infant.drop(["Indicator Name","Indicator Code","1960","1961","1962","1963","1964","1965","1966","1967","1968","1969","1970","1971","1972","1973","1974","1975","1976","1977","1978","1979","1980","1981","1982","1983","1984","1985","1986","1987","1988","1989","1990","1991","1992","1993","1994","1995","1996","1997","1998","1999","2001","2002","2003","2004","2005","2006","2007","2008","2009","2010","2011","2012","2013","2014","2015","2016", "2017","2018","2019","2020","Unnamed: 65"], axis=1, inplace=True)
pregnant_w_rec_pre_c.drop(["Indicator Name","Indicator Code","1960","1961","1962","1963","1964","1965","1966","1967","1968","1969","1970","1971","1972","1973","1974","1975","1976","1977","1978","1979","1980","1981","1982","1983","1984","1985","1986","1987","1988","1989","1990","1991","1992","1993","1994","1995","1996","1997","1998","1999","2001","2002","2003","2004","2005","2006","2007","2008","2009","2010","2011","2012","2013","2014","2015","2016", "2017","2018","2019","2020","Unnamed: 65"], axis=1, inplace=True)
mortality_rate_infant.drop(mortality_rate_infant[mortality_rate_infant['Country Code'].isin(['WLD', 'LAC', 'LCN', 'NAC', 'TLA', 'CEB', 'ECA', 'ECS', 'EU', 'TEC', 'EAP', 'EAS', 'SAS', 'TEA', 'TSA', 'MEA', 'MNA', 'SSA', 'SSF', 'TMN', 'TSS', 'ZAF', 'AFE', 'AFW', 'CAF'])].index, inplace=True)
pregnant_w_rec_pre_c.drop(pregnant_w_rec_pre_c[pregnant_w_rec_pre_c['Country Code'].isin(['WLD', 'LAC', 'LCN', 'NAC', 'TLA', 'CEB', 'ECA', 'ECS', 'EU', 'TEC', 'EAP', 'EAS', 'SAS', 'TEA', 'TSA', 'MEA', 'MNA', 'SSA', 'SSF', 'TMN', 'TSS', 'ZAF', 'AFE', 'AFW', 'CAF'])].index, inplace=True)
mortality_rate_infant.drop(['Country Code'], axis=1, inplace=True)
pregnant_w_rec_pre_c.drop(['Country Code'], axis=1, inplace=True)

pregnant_w_rec_pre_c.rename({'2000':'2000-preg'}, axis = 1, inplace=True)
mortality_rate_infant.rename({'2000':'2000-mmr'}, axis = 1, inplace=True)
mortality_rate_infant.dropna(subset=['2000-mmr'], axis=0, inplace=True)
pregnant_w_rec_pre_c.dropna(subset=['2000-preg'], axis=0, inplace=True)

merged = mortality_rate_infant.merge(pregnant_w_rec_pre_c, how='inner', on='Country Name')

In [4]:
merged

                      Country Name   2000-mmr  2000-preg
0                      Afghanistan  90.200000  36.900000
1                          Albania  24.100000  95.300000
2                       Arab World  43.792997  64.741839
3                          Armenia  27.000000  92.400000
4              Antigua and Barbuda  13.000000  99.900000
..                             ...        ...        ...
86             Upper middle income  29.900000  87.638591
87                      Uzbekistan  51.800000  97.200000
88  St. Vincent and the Grenadines  19.200000  99.000000
89                   Venezuela, RB  18.400000  94.100000
90                         Vietnam  23.400000  68.300000

[91 rows x 3 columns]